.secret-mode-container {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background: white;
  border-radius: 5px;
  padding: 30px;
}
.secret-mode-set-value {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secret-mode-set-value label {
  margin-right: 8px;
}

.secret-mode-set-value input {
  outline: none;
  padding: 0;
}

.secret-mode-set-value input[type="color"] {
  width: 32px;
  cursor: pointer;
}

.secret-mode-set-value input[type="text"] {
  font-size: 12px;
  border-bottom: 1px solid gray;
}

.secret-mode-set-value input[type="text"]::placeholder {
  color: #D3D3D3;
  font-style: italic;
  padding: 0 10px;
}