.author {
  @include clearfix();
}

.author__avatar {
  float: left;
  width: 54px;
  margin-right: 15px;

  img {
    max-width: 100%;
  }
}

.author__content {
  float: left;
  font-family: $neuz;

  .author__published-date time,
  p.author__published-date {
    font-size: 10px;
    font-family: $neuz;
    text-align: left;
    color: $color9;
    font-weight: 300;
    @include breakpoint($tablet) {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: 300;
    @include breakpoint($tablet) {
      font-size: 16px;
    }
  }
}
