.story-card {
  position: relative;
  height: auto;
  overflow: hidden;
  background: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  &__content {
    padding: 20px;
    p {
      font-size: 14px;
      color: $color5;
      line-height: 1.57;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 26px;
      color: $dark-gray;
      line-height: 1.31;
      font-weight: 400;
      margin: 10px 0;
      padding: 0;
    }
    &--transparent {
      padding: 0;
      h2 {
        font-weight: 600;
      }
    }
    @include breakpoint($tablet) {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 12px;
      }
    }
    @include breakpoint($pc) {
      h2 {
        font-size: 26px;
        line-height: 1.31;
      }
      p {
        font-size: 14px;
        line-height: 1.57;
        margin-bottom: 27px;
      }
    }
    &--over-image {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
      h2 {
        font-size: 34px;
        color: $white;
        line-height: 1.18;
        @include breakpoint($tablet) {
          font-size: 32px;
        }
      }
      // Todo: Move this customization to Author Component itself.
      .author__name {
        color: $white;
        margin-top: 24px;
      }
    }
  }
  &__image {
    margin: 0;
    &--16x9 {
      padding-top: 56.25%;
      margin: 0;
      position: relative;
      overflow: hidden;
      & img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &--cover:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, transparentize($black, 0.3), transparent 50%, transparent);
    }
  }
  &--transparent {
    background: none;
    box-shadow: none;
  }
}

.story-card-link {
  margin-bottom: 20px;
  display: block;
  &:last-child:not(:first-child) {
    margin-bottom: 0;
  }
}
