.breaking-news {
  @include container;
  display: flex;
  margin-bottom: 15px;
  color: $white;
  background-color: $base-blue;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  @include breakpoint($pc) {
    padding: 25px 0 0;
    margin-bottom: 25px;
    justify-content: center;
    background-color: inherit;
    box-shadow: none;
  }
  &__heading {
    font-size: 18px;
    line-height: 1.0;
    letter-spacing: 0.4px;
    padding: 20px 15px;
    border-right: 1px solid;
    margin-right: 15px;
    @include breakpoint($pc) {
      display: table;
      min-height: 73px;
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: 0.5px;
      background-color: $base-blue;
      border: 0;
      padding: 20px 20px 10px;
      margin: 0;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &__story {
    font-size: 14px;
    line-height: 1.29;
    font-weight: 300;
    @include breakpoint($pc) {
      font-size: 22px;
      line-height: 1.45;
      font-weight: $regular;
      color: $black;
    }
  }
  &__carousel {
    padding: 20px 0;
    @include breakpoint($pc) {
      max-width: 970px;
      min-height: 73px;
      padding: 10px 0 0 20px;
      background-color: $white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .slick-slide {
    pointer-events: none;
  }
  .slick-active {
    pointer-events: all;
  }
}
