.component-wrapper {
  padding: 15px 15px 0;
  margin-bottom: 15px;
  overflow: auto;
  @include container;
}
.component-wrapper-fluid {
  margin-bottom: 15px;
  @include breakpoint($tablet){
    padding-top: 15px;
  }
}
html, body {
  height: 100%;
}

#container {
  height: 100%;
}
