:root {
    --sansTypeface: 'Lato', sans-serif;
    --serifTypeface: 'Lora', serif;
}

// setting base font size for devices start

$base: 16;
@include breakpoint($tablet) {
  $base: 12; 
}
@include breakpoint($pc) {
  $base: 20; 
}

// setting base font size for devices start

$line:      1.6;

$fontsize-smaller:    11;
$fontsize-small:      13;
$fontsize-base:       16;
$fontsize-medium:     18;
$fontsize-large:      21;
$fontsize-larger:     24;
$fontsize-largest:    29;
$fontsize-halfjumbo:  32;
$fontsize-jumbo:      36;

// Font weights ----------------------------------

$lighter : lighter;
$regular : normal;
$bold    : bold;
$bolder  : bolder;

// ---------------------------------------------
a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--sansTypeface);
    font-weight: 400;
    font-size: rem($base);
    line-height: $line;
    text-rendering: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: rem($fontsize-jumbo);
    line-height: rem(50, $fontsize-jumbo);
    font-weight: 300;
}

h2 {
    font-size: rem($fontsize-halfjumbo);
    line-height: rem(40, $fontsize-medium);
    padding: rem(24, $fontsize-halfjumbo) 0 rem(16, $fontsize-halfjumbo);
    font-family: var(--sansTypeface);
}

h3 {
    font-size: rem($fontsize-largest);
    line-height: rem(36, $fontsize-largest);
    word-break: normal;
    font-family: var(--sansTypeface);
}

h4 {
    font-size: rem($fontsize-larger);
    line-height: rem(32, $fontsize-larger);
    font-weight: bold;
}

h5 {
    font-size: rem($fontsize-medium);
    line-height: rem(24, $fontsize-medium);
    font-weight: bold;
}

h6 {
    font-size: rem($fontsize-small);
    line-height: rem(16, $fontsize-small);
}

p {
    font-family: var(--sansTypeface);
    font-size: rem($fontsize-base);
    line-height: 1.6;
}
