$zIndex-1: 10;
$zIndex-2: 20;
$zIndex-3: 30;
$zIndex-4: 40;
$zIndex-5: 50;
$zIndex-6: 60;
$zIndex-10: 100;
$zIndex-header: 500;
$zIndex-overlay: 600;
$zIndex-sidemenu: $zIndex-overlay + 1;
$zIndex-100: 1000;
