.live-blog-story {
  .story-headline {
    display: inline;
    vertical-align: middle;
  }
  .live-story {
    position: relative;
    font-family: var(--sansTypeface);
    font-size: 13px;
    letter-spacing: 1.5px;
    text-align: right;
    text-transform: uppercase;
    border-radius: 3px;
    color: $white;
    vertical-align: middle;
    padding: 4px 10px 4px 20px;
    margin-right: 10px;
    &::before {
      content: "\2022";
      position: absolute;
      top: 6px;
      left: 4px;
      height: 10px;
      width: 10px;
      font-size: 15px;
      color: $white;
      z-index: 99;
      border: 1px solid $transparent-white;
      border-radius: 50%;
      line-height: 0.8;
    }
  }
  .story-header {
    border: 0;
    background-color: $white;
    margin: 0;
    padding: 0 20px;
    @include breakpoint($pc) {
      padding: 30px 50px;
    }
  }
  .story-cards {
    background-color: $white;
    margin: 20px 0px;
    padding: 10px 20px;
    @include breakpoint($pc) {
      margin: 40px 0;
      padding: 30px 250px 50px 50px;
    }
  }
  .card_added_at {
    font-size: 14px;
    text-align: left;
    color: $color4;
    padding: 5px 20px;
    background-color: $color10;
    @include breakpoint($pc) {
      font-size: 16px;
      margin: 0 0 0 -30px;
    }
  }
  .card_updated_at {
    font-size: 14px;
    text-align: left;
    color: $color4;
    font-weight: $regular-light;
    @include breakpoint($pc) {
      font-size: 16px;
    }
  }
  .story-element-title h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: $color4;
    margin: 10px 0;
    @include breakpoint($pc) {
      font-size: 26px;
    }
  }
}
.live-blog-story-hero-image.blank-story-hero-image.qt-image-16x9 {
  @include breakpoint($pc){
    padding-top: 28%;
  }
}
.live-blog-story--content.blank-story--content {
  position: relative;
  padding: 0;
  background: $page-background-grey;
 }
.key-events {
  display: none;
  @include breakpoint($pc) {
    display: inline-block;
    position: absolute;
    width: 300px;
    max-height: 450px;
    top: 300px;
    right: -145px;
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: scroll;
    z-index: 100;
  }
  &-fixed {
    @include breakpoint($pc) {
      top: calc(50% - 310px);;
      position: fixed;
      right: 175px;
    }
  }
  &-heading {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: $regular2;
    padding: 15px 20px;
    margin: -20px -20px 15px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .card_added_at {
    background-color: inherit;
    margin: 0;
    font-size: 12px;
    color: $color6;
    font-weight: $regular-light;
    padding: 0;
  }
  .event-title {
    font-size: 20px;
    line-height: 1.25;
    color: $color4;
  }
}
