.blank-story {
  &--content {
    position: relative;
    width: 90vw;
    max-width: 992px;
    margin: -50px auto 20px;
    background-color: $white;
    padding: 15px;
    z-index: 10;
  }
  &-hero-image.qt-image-16x9 {
    @include breakpoint($tablet) {
      padding-top: 33%;
    }
  }
  .story {
    &-header {
      display: block;
      margin-bottom: 15px;
      border-bottom: solid 1px $lighest-gray;
    }
    &-section {
      font-size: 16px;
      letter-spacing: 1.5px;
      text-align: left;
      font-family: "NeuzeitGro-Bol",$neuz;
      text-transform: uppercase;
      @include breakpoint($tablet) {
        font-size: 12px;
        letter-spacing: 1.1px;
      }
      @include breakpoint($pc) {
        font-size: 18px;
        letter-spacing: 1.6px;
      }
    }
    &-headline {
      font-family: "NeuzeitGro-Bol",$neuz;
      font-size: 28px;
      line-height: 1.21;
      margin: 10px 0;
      color: $color8;
      @include breakpoint($tablet) {
        font-size: 26px;
        line-height: 1.15;
      }
      @include breakpoint($pc) {
        font-size: 44px;
        list-height: 1.14;
      }
    }
    &-summary {
      font-family: $lora;
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
      text-align: left;
      color: $color5;
      @include breakpoint($tablet) {
        font-size: 12px;
      }
      @include breakpoint($pc) {
        font-size: 20px;
        line-height: 1.4;
      }
    }
    &-byline {
      display: block;
      overflow: auto;
    }
    // &-image-author {
    //   width: 50px;
    //   height: 50px;
    //   overflow: hidden;
    //   float: left;
    //   margin: 15px 15px 15px 0;
    // }
    // &-author-image {
    //   object-fit: contain;
    // }
    &-byline_author_time {
      display: inline-block;
      float: left;
      margin: 15px 0 0;
      font-family: 'NeuzeitGro-Reg', $neuz;
      color: $color6;
      font-weight: 300;
      text-transform: capitalize;
    }
    &-author {
      font-size: 14px;
      font-weight: 300;
      @include breakpoint($tablet) {
        font-size: 12px;
      }
      @include breakpoint($pc) {
        font-size: 18px;
      }
    }
    &-published_date {
      font-size: 12px;
      @include breakpoint($tablet) {
        font-size: 10px;
      }
      @include breakpoint($pc) {
        font-size: 14px;
      }
    }
    &-tag {
      display: inline-block;
      font-family: HelveticaNeue;
      font-size: 12px;
      text-align: center;
      color: $color3;
      border-radius: 77px;
      border: solid 1px $color3;
      margin: 20px 10px 10px 0;
      padding: 2px 10px;
      @include breakpoint($tablet) {
        font-size: 10px;
      }
      @include breakpoint($pc) {
        font-size: 16px;
      }
    }
  }
}