@import "story-page/related-stories";

.blank-story {
  &--wrapper {
    @include container;
    position: relative;
    padding-right: 185px;
  }
  &--content {
    margin: -70px auto 20px;
    background-color: $white;
    padding: 15px;
    z-index: 10;
    min-height: 1000px;
    @include breakpoint($pc){
      padding: 30px 220px 55px 55px;
    }
  }
  &-hero-image.qt-image-16x9 {
    @include breakpoint($tablet) {
      padding-top: 33%;
    }
  }
  .story {
    &-header {
      display: block;
      margin-bottom: 15px;
      border-bottom: solid 1px $lighest-gray;
    }
    &-section {
      font-size: 16px;
      letter-spacing: 1.5px;
      text-align: left;
      font-family: "NeuzeitGro-Bol",$neuz;
      font-weight: 600;
      border-bottom: 3px solid;
      text-transform: uppercase;
      @include breakpoint($tablet) {
        font-size: 12px;
        letter-spacing: 1.1px;
      }
      @include breakpoint($pc) {
        font-size: 18px;
        letter-spacing: 1.6px;
      }
    }
    &-headline {
      font-family: "NeuzeitGro-Bol",$neuz;
      font-size: 28px;
      line-height: 1.21;
      margin: 10px 0;
      font-weight: 600;
      color: $color8;
      @include breakpoint($tablet) {
        font-size: 26px;
        line-height: 1.15;
      }
      @include breakpoint($pc) {
        font-size: 44px;
        list-height: 1.14;
      }
    }
    &-summary {
      font-family: $lora;
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
      text-align: left;
      color: $color5;
      @include breakpoint($tablet) {
        font-size: 12px;
      }
      @include breakpoint($pc) {
        font-size: 20px;
        line-height: 1.4;
      }
    }
    &-byline {
      display: block;
      overflow: auto;
      margin-bottom: 20px;
    }
    // &-image-author {
    //   width: 50px;
    //   height: 50px;
    //   overflow: hidden;
    //   float: left;
    //   margin: 15px 15px 15px 0;
    // }
    // &-author-image {
    //   object-fit: contain;
    // }
    &-byline_author_time {
      display: inline-block;
      float: left;
      margin: 15px 0 0;
      font-family: 'NeuzeitGro-Reg', $neuz;
      color: $color6;
      font-weight: 300;
      text-transform: capitalize;
    }
    &-author {
      font-size: 14px;
      font-weight: 300;
      @include breakpoint($tablet) {
        font-size: 12px;
      }
      @include breakpoint($pc) {
        font-size: 18px;
      }
    }
    &-published_date {
      font-size: 12px;
      @include breakpoint($tablet) {
        font-size: 10px;
      }
      @include breakpoint($pc) {
        font-size: 14px;
      }
    }
    &-tag {
      display: inline-block;
      font-family: HelveticaNeue;
      font-size: 12px;
      text-align: center;
      color: $color3;
      border-radius: 77px;
      border: solid 1px $color3;
      margin: 20px 10px 10px 0;
      padding: 2px 10px;
      @include breakpoint($tablet) {
        font-size: 10px;
      }
      @include breakpoint($pc) {
        font-size: 16px;
      }
    }
    &-element-text {
      p, li {
        font-family: $lora;
        font-size: 20px;
        color: $color4;
      }
      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 25px;
        }
      }
      li {
        margin-bottom: 10px;
        margin-left: 30px;
      }
      h2, h3 {
        font-family: $neuz;
        font-weight: 600;
      }
      h2 {
        font-size: 24px;
        @include breakpoint($tablet) {
          font-size: 30px;
        }
        @include breakpoint($pc) {
          font-size: 36px;
        }
      }
      h3 {
        font-size: 20px;
        @include breakpoint($tablet) {
          font-size: 24px;
        }
        @include breakpoint($pc) {
          font-size: 28px;
        }
      }
    }
    &-element-image {
      figure {
        margin: 0 0 20px;
      }
      figcaption {
        font-family: $lora;
        font-size: 8px;
        font-style: italic;
        color: $color5;
        margin-top: 5px;
        @include breakpoint($tablet) {
          font-size: 10px;
        }
        @include breakpoint($pc) {
          font-size: 14px;
        }
      }
    }
    &-element-text-blurb {
      color: $color4;
      blockquote {
        font-family: $lora;
        font-size: 16px;
        font-style: italic;
        @include breakpoint($tablet) {
          font-size: 20px;
          margin-bottom: 10px;
        }
        @include breakpoint($pc) {
          font-size: 26px;
          margin: 0 0 20px;
        }
      }
    }
    &-element-text-bigfact {
      padding: 20px 15px;
      border-top: 1px solid $lighest-gray;
      border-bottom: 1px solid $lighest-gray;
      text-align: center;
      @include breakpoint($tablet) {
        margin-bottom: 10px;
      }
      @include breakpoint($pc) {
        margin-bottom: 20px;
      }
      .bigfact-title {
        font-family: $neuz;
        font-weight: 600;
        font-size: 30px;
        color: $dark-gray;
        @include breakpoint($tablet) {
          font-size: 36px;
        }
        @include breakpoint($pc) {
          font-size: 44px;
        }
      }
      .bigfact-description {
        font-family: $lora;
        font-size: 16px;
        font-style: italic;
        color: $color4;
        @include breakpoint($tablet) {
          font-size: 20px;
          margin-bottom: 10px;
        }
        @include breakpoint($pc) {
          font-size: 26px;
        }
      }
    }
    &-element-text-quote, &-element-text-blockquote {
      overflow: auto;
      blockquote {
        font-family: $lora;
        font-size: 16px;
        font-style: italic;
        color: $color5;
        @include breakpoint($tablet) {
          font-size: 20px;
          margin: 0 45px 15px;
        }
        @include breakpoint($pc) {
          font-size: 26px;
        }
      }
      .attribution {
        float: right;
        font-family: $neuz;
        font-style: italic;
        color: $color4;
        @include breakpoint($tablet) {
          font-size: 18px;
        }
      }
      @include breakpoint($tablet) {
        margin-bottom: 20px;
      }
      @include breakpoint($pc) {
      }
    }
    &-element-text-blockquote {
      blockquote {
        @include breakpoint($tablet) {
          margin: 0 45px 15px 55px;
        }
        @include breakpoint($pc) {
          font-size: 26px;
        }
      }
    }
    &-element-text-summary__wrapper {
      background: $color10;
      position: relative;
      margin-bottom: 20px;
      header {
        color: $white;
        content: 'Summary';
        padding: 15px 40px;
        font-size: 25px;
        font-family: $neuz;
        background: $base-blue;
        padding: 20px 40px 15px;
        overflow: auto;
        img {
          float: right;
          width: 30px;
          height: auto;
          padding: 10px 0;
          cursor: pointer;
          transform: rotate3d(1, 0, 0, 180deg);
          transition: transform .5s;
          &.is-closed {
            transform: rotate3d(1, 0, 0, 0deg);
          }
        }
      }
      .story-element-text-summary__content {
        padding: 20px 40px 15px;
        transition: height .6s, padding .5s;
        overflow: hidden;
        &.is-closed {
          // overwrite inline height style to animate toggling
          height: 0 !important;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
