img {
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 0;
}

body {
  margin: 0;
  background: $gray-white;
}

.container {
  overflow: auto;
  max-width: 1172px;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}