img{
  max-width: 100%;
  display: block;
  width: 100%;
}
.row{
  @include clearfix();
  clear: both;
}
.col-4 {
  @include span(12);
  @include breakpoint($tablet){
    @include span(12);
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
  @include breakpoint($pc){
    @include span(4);
    &:last-child {
      @include span(last 4);
    }
  }
}

.col-8 {
  @include span(12);
  @include breakpoint($pc){
    @include span(8);
    &:last-child {
      @include span(last 8);
    }
  }
}
.col-9 {
  @include span(12);
  @include breakpoint($pc){
    @include span(9);
  }
}
.col-3 {
  @include span(12);
  @include breakpoint($pc){
    @include span(3);
  }
}
.section__head__title{
  margin-bottom: 20px;
  @include breakpoint($pc){
    margin-bottom: 30px;
  }
}

.sub--section{
  background: rgba($black,0.5);
  color: $white;
  font-size: rem(20);
  font-weight: $bold;
  padding: 6px 14px;
}
.section__card--image{
  margin-bottom: 23px;
}
.grid__section__one{
  @include breakpoint($tablet){
    @include span(first 4);
  }
}
.grid__section__middle{
  @include breakpoint($tablet){
    @include span(4 at 5 of 12);
  }
}
.grid__section__last{
  @include breakpoint($tablet){
    @include span(last 4);
  }
}
.author--submission{
  font-size: rem(11);
  font-weight: 300;
  color: $darker-gray;
  @include breakpoint($pc){
    font-size: rem(14);
  }
}
.footer{
  @include full;
  background: $darkest-gray;
  padding: 40px 0;
  text-align: center;
  @include breakpoint($tablet){
    text-align: left;
    padding: 40px 15px 44px;
  }
  &__content{
    @include container;
    padding: 0 15px;
    &__first{
      display: none;
      @include breakpoint($pc){
        display: block;
        @include span(first 1);
      }
    }

    &__last{
      color: $white;
      text-transform: capitalize;
      text-align: center;
      @include breakpoint($pc){
        @include span(last 5);
        text-align: right;
      }
      ul{
        list-style-type: none;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint($pc){
          float: right;
        }
        li{
          display: inline-block;
          // padding-left: 10px;
          a{
            display: block;
            font-size: rem(16);
          }
          a::after {
            content: "|";
            float: right;
            padding: 0 5px;
            @include breakpoint($pc) {
              content: "";
            }
          }
        }
        li:last-of-type a::after {
          content: "";
        }
      }
      .copy--right {
        @include breakpoint($pc){
          float: right;
        }
      }
    }
  }
}

.slick-next {
  margin-right: 0px;
  @include breakpoint($pc) {
    margin-right: 20px;
  }
}

.slick-prev {
  margin-left: 0px;
  @include breakpoint($pc) {
    margin-left: 20px;
  }
}
