.component-wrapper {
  padding: 0 15px;
  margin-bottom: 15px;
  overflow: auto;
  @include container;
  @include breakpoint($tablet){
    padding-top: 15px;
  }
}
.component-wrapper-fluid {
  margin-bottom: 15px;
  @include breakpoint($tablet){
    padding-top: 15px;
  }
}
