.live-blog-story {
  .story-headline {
    display: inline;
    vertical-align: middle;
  }
  &--wrapper {
    padding-bottom: 0;
  }
  .live-story {
    position: relative;
    font-family: var(--sansTypeface);
    font-size: rem(13);
    letter-spacing: 1.5px;
    text-align: right;
    text-transform: uppercase;
    border-radius: 3px;
    color: $white;
    vertical-align: middle;
    padding: 4px 10px 4px 20px;
    margin-right: 10px;
    &::before {
      content: "\2022";
      position: absolute;
      top: 6px;
      left: 4px;
      height: 10px;
      width: 10px;
      font-size: rem(15);
      color: $white;
      z-index: 99;
      border: 1px solid $off-white;
      border-radius: 50%;
      line-height: 0.8;
    }
  }
  .story-header {
    border: 0;
    background-color: $white;
    margin: 0;
    padding: 0 20px;
    @include breakpoint($pc) {
      padding: 30px 250px 30px 50px;
      margin-bottom: 70px;
    }
  }
  .story-cards {
    background-color: $white;
    margin: 20px 0px;
    padding: 10px 20px;
    @include breakpoint($pc) {
      margin: 40px 0;
      padding: 30px 250px 50px 50px;
    }
  }
  .card-added-at {
    font-size: rem(14);
    text-align: left;
    color: $dark-gray;
    padding: 10px 20px 10px 30px;
    background: url("../icons/clock.svg") no-repeat 5px center;
    background-color: $gray-white;
    @include breakpoint($pc) {
      font-size: rem(16);
      margin: 0 0 0 -30px;
    }
  }
  .card-updated-at {
    font-size: rem(14);
    text-align: left;
    color: $dark-gray;
    font-weight: $lighter;
    @include breakpoint($pc) {
      font-size: rem(16);
    }
  }
  .story-element-title h2 {
    font-size: rem(22);
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: $dark-gray;
    margin: 10px 0;
    @include breakpoint($pc) {
      font-size: rem(26);
    }
  }
}
.live-blog-story-hero-image.blank-story-hero-image.qt-image-16x9 {
  @include breakpoint($pc){
    padding-top: 28%;
  }
}
.live-blog-story--content.blank-story--content {
  position: relative;
  padding: 0;
  background: $gray-white;
  margin-bottom: 0;
 }
 // We need this extra wrapper for keyEvents component to behave like sticky.
 .live-blog-story__extra-wrapper {
   @include container;
   position: relative;
   padding: 30px 0;
 }
.key-events {
  display: none;
  @include breakpoint($pc) {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    width: 300px;
    max-height: 450px;
    top: 100px;
    background-color: $white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: scroll;
    z-index: 100;
    float: right;
  }
  &__heading {
    font-size: rem(22);
    text-transform: capitalize;
    font-weight: $bold;
    padding: 15px 20px;
    margin: -20px -20px 15px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .card-added-at {
    background-color: inherit;
    background-size: 17px;
    margin: 0;
    font-size: rem(12);
    color: $gray-light;
    font-weight: $lighter;
    padding: 5px 0px 5px 30px;
  }
  .event-title {
    font-size: rem(20);
    line-height: 1.25;
    color: $dark-gray;
    margin-left: 15px;
    border-left: 1px solid $gray-lightest;
    padding: 0 0 10px 15px;
  }
}
