body {
  margin: 0;
  background: $gray-white;
}

*{
  box-sizing: border-box;
}
.bg--shadow{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.bg--white{
  background: $white;
}
.align--left{
  float: left;
}
.align--right{
  float: right;
}
.body-container{
  @include full;
}

.header{
  @include full;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  float: none;
  position: relative;
  background: $white;
}
.loading{
  background: $white;
  height: 100%;
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  font-size: rem(20);
  text-align: center;
  z-index: 100;
  padding: 50px;
  .content{
    perspective:300px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:auto;
    width: 50%;
  }
  svg{
    display: block;
    margin: 0px auto 0;
    width: 50px;
    position: relative;
    top: 12px;
    animation: float 2.5s ease-in-out infinite;
  }
  h2{
    font-family: var(--sansTypeface);
  }
  h3{
    color: $black;
    text-align: center;
    margin-top: 0;
    font-size: rem(14);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
.header__container{
  @include container(1170px);
  padding: 0 15px;
  display: flex;
}
.app-logo{
  display: flex;
  align-items: center;
  flex-basis: 250px;
  @include breakpoint($tablet){
    flex-basis: auto;
  }
}
.app-logo__menu{
  float: left;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  cursor: pointer;
  @include clearfix;
  position: relative;
  span {
    content: ' ';
    width: 30px;
    height: 2px;
    background-color: inherit;
    display: block;
    position: relative;
    top: 17px;
  }
  span::before {
    content: ' ';
    width: 30px;
    height: 2px;
    background-color: inherit;
    display: block;
    position: absolute;
    bottom: 9px;
  }
  span::after {
    content: ' ';
    width: 30px;
    height: 2px;
    background-color: inherit;
    display: block;
    position: absolute;
    top: 9px
  }
  @include breakpoint($pc){
    overflow: hidden;
  }
}

.app-logo__wrapper{
  a{
    display: block;
    font-family: var(--sansTypeface);
    font-size: rem(22);
    font-weight: bold;
    color: $black;
    @include breakpoint($pc){
      font-size: rem(32);
    }
  }
  .app-logo__element {
    max-width: 180px;
    max-height: 55px;
    object-fit: contain;
  }
}
.header__middle{
  nav{
    font-family: var(--sansTypeface);
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      li{
        a, span{
          display: block;
          cursor: pointer;
          text-decoration: none;
          color: inherit;
          font-size: rem(14);
          letter-spacing: 2px;
          font-weight: $regular;
          line-height: 90px;
          text-transform: uppercase;
          margin-right: 15px;
          @include breakpoint(max-width 1038px){
            font-size: rem(16);
          }
        }
        &:last-child{
          a{
            margin-right: 0;
          }
        }
        &.has--child{
          position: relative;
          ul{
            display: none;
            opacity: 0;
            width: 255px;
            padding: 30px 20px 10px;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 6px solid #49c6dd;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
            li{
              a{
                font-size: rem(16);
                color: $darker-gray;
                letter-spacing: 1px;
                border-bottom: solid 1px #ededed;
                padding: 15px 0;
                margin: 0;
                line-height: 1.4;
              }
              &:first-child{
                a{
                  padding-top: 0;
                }
              }
              &:last-child a{
                border-bottom: none;
              }
            }
          }
          &:hover, &:focus{
            ul{
              display: block;
              opacity: 1;
              top: 100%;
              background: $white;
              z-index: $zIndex-header;
              li{
                display: block;
              }
            }
          }
        }
      }
    }
    @include breakpoint(max-width 1022px){
      margin-left: 60px;
    }
  }
  @include breakpoint(max-width 878px){
    display: none;
  }
}
.header__last{
  flex-basis: 100px;
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  @include breakpoint(max-width 878px){
    width: 44%;
  }
  &__button {
    margin-right: 20px;
  }
  &__search {
    img {
      vertical-align: middle;
    }
  }
}

.layout-content{
  clear: both;
  @include clearfix();
}
