.related_stories {
  background-color: $white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  &-heading {
    font-size: rem(22);
    padding: 20px 20px 15px;
  }
  &-story-card {
    border-bottom: 1px solid $gray-lightest;
    margin: 0 20px;

    .story-card-image {
      margin: 0 -20px;
    }
    .story-title {
      font-size: rem(20);
      line-height: var(--headlineLineHeight);
      color: $darkest-gray;
      padding:20px 0px;
    }
    .story-title-bold {
      font-weight: bold;
    }
    .author-title {
      font-size: rem(12);
      color: $gray-light;
      padding:0 0 10px 0;
    }
  }
}

.related_stories-story-card:last-of-type {
  border-bottom: 0;
}
