.section__main{
  padding: 18px 15px;
  @include breakpoint($pc){
    margin-top: 60px;
    padding: 0 0 30px;
    @include container;
  }
  &__title{
    margin-bottom: 20px;
    font-size: rem(26);
      @include breakpoint($pc){
    margin-bottom: 30px;
  }
  }
  &__first{
    margin-bottom: 30px;
    @include breakpoint($pc){
    @include span(first 8);
    h2{
      font-size: rem(38);
      font-weight: $bold;
      margin-top: 20px;
      line-height: var(--headlineLineHeight);
    }
  }
  }
  &__last{
    margin-bottom: 30px;
    @include breakpoint($pc){
    @include span(last 4);
  }
  }
}
.section__slider{
  margin-bottom: 30px;
  @include breakpoint($pc){
  padding:50px 0;
  margin-bottom: 0;
  }
}
.section__slide{
  padding: 0 !important;
  p{

  }
  @include breakpoint($pc){

    @include container;
    padding: 0 13px 27px;
    p{
      font-size: rem(28);
      color: $white;
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: var(--bodyLineHeight);
      padding: 0 30px 30px;
      font-weight: $bold;
    }
  }
  .slick-active, .slick-slide{
    width: 570px;
    padding: 0 15px;
    opacity: 0.65;
        position: relative;
  }
  .slick-prev, .slick-next {
    height: 129px;
    width: 95px;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 0;
    background-size: 60px !important;
}
  .slick-center{
    opacity: 1;
  }
}

.section__cards{
  padding: 0 15px;
  @include breakpoint($pc){
    padding: 50px 0;
    @include container;
  }
  &__first{
    margin-bottom: 30px;
    @include breakpoint($pc){
    @include span(first 4);
  }
  }
  &__middle{
    margin-bottom: 30px;
      @include breakpoint($pc){
    @include span(4 at 5 of 12);
    }
  }
  &__last{
    margin-bottom: 30px;
      @include breakpoint($pc){
    @include span(last 4);
    }
  }
  .row{
    @include clearfix();
    padding-top: 50px;
  }
}
