@import "related-stories";

.blank-story {
  &--wrapper {
    @include container;
    position: relative;
    padding: 10px;
    @include breakpoint($pc){
      padding-right: 185px;
    }
  }
  &--content {
    margin: -70px auto 20px;
    background-color: $white;
    padding: 15px;
    z-index: 10;
    @include breakpoint($pc){
      padding: 30px 220px 55px 55px;
    }
  }
  &-hero-image.qt-image-16x9 {
    @include breakpoint($tablet) {
      padding-top: 33%;
    }
  }
  &__aside {
    display: none;
    @include breakpoint($pc) {
      display: block;
      width: 320px;
      position: absolute;
      top: 100px;
      right: 0;
      z-index: 10;
    }
  }
  .story {
    &-header {
      display: block;
      margin-bottom: 15px;
      border-bottom: solid 1px $gray-lightest;
    }
    &-section {
      font-size: rem(16);
      letter-spacing: 1.5px;
      text-align: left;
      font-family: var(--sansTypeface);
      font-weight: $bold;
      border-bottom: 3px solid;
      text-transform: uppercase;
      @include breakpoint($tablet) {
        font-size: rem(12);
        letter-spacing: 1.1px;
      }
      @include breakpoint($pc) {
        font-size: rem(18);
        letter-spacing: 1.6px;
      }
    }
    &-headline {
      font-family: var(--sansTypeface);
      font-size: rem(28);
      line-height: 1.21;
      margin: 10px 0;
      font-weight: $bold;
      color: $darkest-gray;
      @include breakpoint($tablet) {
        font-size: rem(26);
        line-height: 1.15;
      }
      @include breakpoint($pc) {
        font-size: rem(44);
        line-height: 1.14;
      }
    }
    &-summary {
      font-family: var(--serifTypeface);
      font-size: rem(16);
      font-style: italic;
      line-height: 1.5;
      text-align: left;
      color: $gray;
      @include breakpoint($tablet) {
        font-size: rem(12);
      }
      @include breakpoint($pc) {
        font-size: rem(20);
        line-height: 1.4;
      }
    }
    &-byline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: auto;
      margin: 20px 0;
    }
    &-byline__author_time {
      display: inline-block;
      float: left;
      margin: 15px 0 0;
      font-family: var(--sansTypeface);
      color: $gray-light;
      font-weight: 300;
      text-transform: capitalize;
    }
    &-byline__social-share {
      display: flex;
    }
    &-author {
      font-size: rem(14);
      font-weight: 300;
      @include breakpoint($tablet) {
        font-size: rem(12);
      }
      @include breakpoint($pc) {
        font-size: rem(18);
      }
    }
    &-published_date {
      font-size: rem(12);
      @include breakpoint($tablet) {
        font-size: rem(10);
      }
      @include breakpoint($pc) {
        font-size: rem(14);
      }
    }
    &-tag {
      display: inline-block;
      font-family: HelveticaNeue;
      font-size: rem(12);
      text-align: center;
      color: $gray-lighter;
      border-radius: 77px;
      border: solid 1px $gray-lighter;
      margin: 20px 10px 10px 0;
      padding: 2px 10px;
      @include breakpoint($tablet) {
        font-size: rem(10);
      }
      @include breakpoint($pc) {
        font-size: rem(16);
      }
    }
    &-element-text {
      p, li {
        font-family: var(--serifTypeface);
        font-size: rem(16);
        color: $dark-gray;
        @include breakpoint($tablet) {
          font-size: rem(12);
        }
        @include breakpoint($pc) {
          font-size: rem(20);
        }
      }
      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 25px;
        }
      }
      li {
        margin-bottom: 10px;
        margin-left: 30px;
      }
      h2, h3 {
        font-family: var(--sansTypeface);
        font-weight: $bold;
      }
      h2 {
        font-size: rem(24);
        @include breakpoint($tablet) {
          font-size: rem(30);
        }
        @include breakpoint($pc) {
          font-size: rem(36);
        }
      }
      h3 {
        font-size: rem(20);
        line-height: 1.5;
        @include breakpoint($tablet) {
          font-size: rem(24);
        }
        @include breakpoint($pc) {
          font-size: rem(28);
        }
      }
      a {
        position: relative;
        display: inline-block;
        transition: .3s;
        text-decoration: none;
        color: $base-blue;
        }

        a::after {
          position: absolute;
          bottom: .3em;
          left: 0;
          content: '';
          width: 100%;
          height: 1px;
          background-color: $base-blue;
          opacity: 0;
          transition: .3s;
        }

        a:hover::after {
          bottom: 0;
          opacity: 1;
        }
    }
    &-element-image {
      figure {
        margin: 0 0 20px;
      }
      figcaption {
        font-family: var(--serifTypeface);
        font-size: rem(12);
        font-style: italic;
        color: $gray;
        margin-top: 5px;
        @include breakpoint($pc) {
          font-size: rem(14);
        }
      }
    }
    &-element-text-blurb {
      color: $dark-gray;
      blockquote {
        font-family: var(--serifTypeface);
        font-size: rem(16);
        font-style: italic;
        margin: 0 0 20px;
        @include breakpoint($tablet) {
          font-size: rem(20);
        }
        @include breakpoint($pc) {
          font-size: rem(26);
        }
      }
    }
    &-element-text-bigfact {
      padding: 15px 15px 20px;
      border-top: 1px solid $gray-lightest;
      border-bottom: 1px solid $gray-lightest;
      text-align: center;
      margin-bottom: 10px;
      @include breakpoint($pc) {
        margin-bottom: 20px;
      }
      .bigfact-title {
        font-family: var(--sansTypeface);
        font-weight: $bold;
        font-size: rem(30);
        color: $darkest-gray;
        @include breakpoint($tablet) {
          font-size: rem(36);
        }
        @include breakpoint($pc) {
          font-size: rem(44);
        }
      }
      .bigfact-description {
        font-family: var(--serifTypeface);
        font-size: rem(16);
        font-style: italic;
        color: $dark-gray;
        @include breakpoint($tablet) {
          font-size: rem(20);
          margin-bottom: 10px;
        }
        @include breakpoint($pc) {
          font-size: rem(26);
        }
      }
    }
    &-element-text-quote, &-element-text-blockquote {
      overflow: auto;
      margin-bottom: 15px;
      blockquote {
        font-family: var(--serifTypeface);
        font-size: rem(16);
        font-style: italic;
        color: $gray;
        margin: 0 15px;
        @include breakpoint($tablet) {
          font-size: rem(20);
          margin: 0 45px 15px;
        }
        @include breakpoint($pc) {
          font-size: rem(26);
        }
      }
      .attribution {
        float: right;
        font-family: var(--sansTypeface);
        font-style: italic;
        color: $dark-gray;
        padding: 0 rem(10);

        @include breakpoint($tablet) {
          font-size: rem(18);
        }
      }
      @include breakpoint($tablet) {
        margin-bottom: 20px;
      }
      @include breakpoint($pc) {
      }
    }
    &-element-text-blockquote__wrapper {
      position: relative;
      padding: 5px;
      img {
        width: 26px;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        @include breakpoint($pc) {
          width: 36px;
        }
      }
      blockquote {
        margin: 0 15px 15px 30px;
        @include breakpoint($tablet) {
          margin: 0 45px 15px 55px;
        }
        @include breakpoint($pc) {
          font-size: rem(26);
        }
      }
    }
    &-element-text-q-and-a {
      font-family: var(--serifTypeface);
      .question p {
        font-weight: $regular;
      }
      .answer p {
        font-style: italic;
      }
    }
    &-element-text-summary__wrapper {
      background: $gray-white;
      position: relative;
      margin-bottom: 20px;
      header {
        color: $white;
        content: 'Summary';
        font-size: rem(20);
        font-family: var(--sansTypeface);
        background: $base-blue;
        padding: 5px 15px;
        overflow: auto;
        @include breakpoint($tablet) {
          padding: 20px 40px 15px;
          font-size: rem(26);
        }
        img {
          float: right;
          width: 20px;
          height: auto;
          padding: 10px 0;
          margin-right: 5px;
          cursor: pointer;
          transform: rotate3d(1, 0, 0, 0deg);
          transition: transform .5s;
          @include breakpoint($tablet) {
            width: 30px;
          }
          &.is-closed {
            transform: rotate3d(1, 0, 0, 180deg);
          }
        }
      }
      .story-element-text-summary__content {
        padding: 15px;
        transition: height .6s, padding .5s;
        overflow: hidden;
        @include breakpoint($tablet) {
          padding: 20px 40px 15px;
        }
        &.is-closed {
          // overwrite inline height style to animate toggling
          height: 0 !important;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    &-element-youtube-video, &-element-jsembed, &-element-soundcloud-audio {
      text-align: center;
      iframe, twitterwidget {
        margin: auto;
        max-width: 100%;
      }
    }
    &-element-image-slideshow {
      margin-bottom: 20px;
    }
  }
}
