.three-col__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;

  @include breakpoint($tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.three-col__item {
  &.two-stories {
    @include breakpoint($tablet) {
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-row-gap: 20px;
    }
  }
  .story-card-link {
    margin-bottom: 0;
  }

  .story-card-link,
  .story-card {
    height: 100%;
  }

  &.full-image {
    .story-card-link,
    .story-card,
    .story-card__image {
      height: 100%;
    }
  }
}
