
.three-col {
  padding: 0 15px;
  @include container;
  @include breakpoint($tablet){
    padding: 0 20px;
    margin-bottom: 30px;
  }
  &__first{
    position: relative;
    height: auto;
    overflow: hidden;
    figure:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, transparentize($black, 0.3), transparent 50%, transparent);
    }
    &__content{
      position: absolute;
      bottom: 0;
      left:0;
      color: $white;
      padding: 0 20px 20px;
      h2{
        font-size: 34px;
        line-height: 1.18;
        @include breakpoint($tablet){
          font-size: 32px;
        }
      }
      .author--title{
        color: $white;
        margin-top: 24px;
      }
    }
  }
  &__middle{
    @include breakpoint($tablet){
      @include span(last 6);
    }
    @include breakpoint($pc){
      @include span(4 at 5 of 12);
    }
    &__card{
      margin-bottom: 30px;
    }
  }
  &__last{
    @include breakpoint($tablet){
      .card--no--bg{
        border-bottom: 1px solid #d8d8d8;
        padding:21px 16px 15px;
        width: 50%;
        display: inline-block;
        margin-right: -3px;
        &:first-child{
          padding-top: 21px;
        }
        &:last-child{
          padding-bottom: 15px;
          border-bottom: 1px solid #d8d8d8;
        }
        @include breakpoint($tablet){
          padding: 15px 0;
        }
      }
    }
    @include breakpoint($pc){
      @include span(last 4);
      .card--no--bg{
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 20px 0;
        &:first-child{
          padding-top: 0px;
        }
        &:last-child{
          padding-bottom: 0px;
          border-bottom: none;
        }
      }
    }
  }
}
