.two-col {
  img {
    max-width: 100%;
  }
  &__media-list {
    @include container;
    margin-bottom: 30px;
    @include breakpoint($tablet) {
      @include span(first 6);
    }
  }
  &__last {
    @include span(12);
    margin-top: 20px;
    @include breakpoint($tablet) {
      @include span(last 6);
      margin: 0;
      .section--content {
        h2 {
          font-size: rem(18);
        }
      }
    }
    @include breakpoint($pc) {
      .section--content {
        padding: 30px;
        h2 {
          font-size: rem(26);
        }
        p {
          font-size: rem(18);
        }
      }
    }
  }
}

.two-col__title {
  margin-bottom: 30px;
}