.two-col {
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;

    @include breakpoint($tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .full-card {
    margin-top: 30px;

    @include breakpoint($tablet) {
      margin-top: 0;
    }
    
    .story-card-link {
      height: 100%;
    }
    .story-card {
      height: 100%;
    }
  }
  img {
    max-width: 100%;
  }

}

.two-col__title {
  margin-bottom: 30px;
}