
.big-image-vertical-card{
  .card-content-wrapper{
    display: flex;
    flex-direction:column;
  }
   .content-wrapper{
    position: relative;
    background-color: var(--white);
    box-shadow: 1.5px 1.5px 1.5px 1.5px  var(--graywhite);
    margin-bottom: 30px;
   } 
   .section-name{
    position: absolute;
    top: 0;
    left:0;
    background-color: var(--brandPrimary);
    color: var(--white);
    padding: 8px 5px;
    text-transform: uppercase;
   }
    .image-wrapper{
     margin: 0;
   }
    .card-heading{
     font-size: 1.2em;
     line-height: 1;
     padding: 1.25em;
   }
 }


 














