.three-col-multiple-story__item{
    background-color: var(--white);
    .content-wrapper{
      background-color: var(--white);
      height: auto; 
    }
    .media-one-card__item{
      border-top: 1px solid var(--gray);
    }
    .card-heading{
      margin: 0;
    }

 } 