.four-col-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px; 
    padding: 15px 15px 0; 

    @include breakpoint($tablet) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 30px;
    }

}