  .media-one-card__item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 40px;
    padding: 10px;
      
    .section-name {
      color: $red;
      font-size: 14px;
      margin-left: 5px;
      position: relative;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      margin: 0px;
      }
    .section-name:after{
      content:"";
      flex: 1 1 auto;
      border-top: 1px solid  var(--gray);
      }
    .card-content-wrapper{
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 30px;
       }
     .image-wrapper{
      margin: 0px;
      width: 90px;

       }
    .card-heading{
      font-size: 1em;
    }
}