.story-element-image-slideshow {
  &__slide {
    position: relative;
  }

  &__caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: $white;
  }

  &__image-container {
    padding-top: 56.65%;
    position: relative;
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba($black,0.5), transparent 70%, transparent);
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
  }
}