.card--align-left {
  float: left;
  margin-right: rem(16);
}

.card--align-right {
  float: right;
  margin-left: rem(16);
}

.card--align-left,
.card--align-right {
  width: 40%;
  min-width: 290px;

  .story-element-text-quote,
  .story-element-text-blockquote,
  .story-element-text-blurb {
    padding: rem(16) 0;
    border: 2px solid $base-blue;
    border-left: none;
    border-right: none;

    blockquote {
      margin: 0 rem(16);
    }
  }
}

