.trending-items{
display: grid;
grid-template-columns: 1fr 1fr 1fr;  
width: 100%;
margin-left: auto;
margin-right: auto;
border-bottom: 4px solid var(--brandPrimary);
color: var(--black);

  .dropdown-menu:hover .qt-theme__color--border {
    display: block;
    background-color: var(--white);
    min-width: 200px;
    color:var(--black);
    z-index: 1;
      
  }
}

.trending-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1000px;
  display: none;
  z-index: 1;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition:all 0.3s ease;
}


.dropdown-menu:hover .trending-wrapper {
  display: block;

}
