.app-ad{
  text-align: center;
  &--mrec .adBox {
    padding: 60px 0px;
  }
  &--story-mrec .adBox{
    padding-bottom: 35px;
  }
  &--leaderboard .adBox {
    padding: 8px;
  }
  &--horizontal .adBox {
    padding-top: 30px;
  }
  &--three-story-cards {
    grid-column: 1/4;
  }
}
