.app-ad{
  text-align: center;
  width: 100%;
  overflow: hidden;
  &--vertical {
    text-align: right;
    padding-bottom: 15px;
  }
  &--mrec .adBox {
    padding: 60px 0px;
  }
  &--story-mrec .adBox{
    padding-bottom: 35px;
  }
  &--leaderboard .adBox {
    padding: 8px;
  }
  &--horizontal{
    clear: both;
    .adBox {
      padding: 15px 0;
    }
  }
  &--story-horizontal .adBox {
    padding-bottom: 25px;
  }
}
