.author {
  @include clearfix();

  &__avatar {
    float: left;
    width: 54px;
    margin-right: 15px;

    img {
      max-width: 100%;
    }
  }

  &__content {
    float: left;
    font-family: var(--sansTypeface);
  }

  &__published-date time,
  &__published-date {
    font-size: rem(10);
    font-family: var(--sansTypeface);
    text-align: left;
    color: $darker-gray;
    font-weight: 300;
    text-transform: none;
    @include breakpoint($tablet) {
      margin-bottom: 0;
      font-size: rem(14);
    }
  }

  &__name {
    font-size: rem(12);
    font-weight: 300;
    color: $gray-light;
    @include breakpoint($tablet) {
      font-size: rem(16);
    }
  }
}
