.qt-button{
  border-radius: 100px;
  text-align: center;
  font-family: var(--sansTypeface);
  font-size: rem(16);
  font-weight: 300;
  padding: 10px 28px;
  color: $white;
  &:hover {
    cursor: pointer;
  }
  &--primary{
    background: $base-blue;
  }
  &--secondary{
    border: 1px solid $white;
    background: $base-blue;
  }
  &--transparent {
    background: $white;
    color: $base-blue;
    border: 2px solid $base-blue;
  }
}
