.carousel-wrapper {
  @include container;
  margin-bottom: 50px;
  @include breakpoint($pc) {
    margin-top: 40px;
    padding: 0 15px;
  }
}

.carousel {
  background: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint($tablet) {
    grid-template-columns: 1fr 1fr;
  }

  &__content {
    @include breakpoint($pc) {
      padding: 20px 15px 40px 20px;
    }
    padding: 15px;
    font-size: rem(18);
    text-align: left;
    color: $gray;
    font-weight: 300;
  }
  &__heading {
    font-size: rem(26);
    line-height: var(--headlineLineHeight);
    text-align: left;
    color: $darkest-gray;
    margin-top: 5px;
    font-weight: $regular;
    padding: 0;
    @include breakpoint($tablet) {
      font-size: rem(22);
    }
    @include breakpoint($pc) {
      font-size: rem(34);
      margin: 0 0 15px;
    }
  }

  &__description {
    font-family: var(--serifTypeface);
    @include breakpoint($tablet) {
      display: block;
      font-size: rem(12);
      margin-bottom: 28px;
    }
    @include breakpoint($pc) {
      font-size: rem(18);
      margin-bottom: 35px;
    }
  }
  &__image {
    height: 100%;
    @include aspect-ratio(16,9);

    @include breakpoint($pc) {
      @include aspect-ratio(4, 3);
    }

    figure {
      margin: 0;
      height: 100%;
    }

    img {
      height: 100%;
    }
  }
  .author {
    margin-top: rem(16);

    @include breakpoint($tablet) {
      position: absolute;
      bottom: rem(20);
      margin-top: 0;
    }
  }
}
