.carousel-wrapper {
  @include container;
  margin-bottom: 50px;
  @include breakpoint($pc) {
    margin-top: 40px;
    padding: 0 15px;
  }
}

.carousel {
  background: $white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  overflow: auto;
  &__content {
    @include span(12);
    @include breakpoint($tablet) {
      @include span(last 6);
    }
    @include breakpoint($pc) {
      padding: 20px 15px 40px 10px;
    }
    padding: 15px;
    font-size: rem(18);
    text-align: left;
    color: $gray;
    font-weight: 300;
  }
  &__heading {
    font-size: rem(26);
    line-height: 1.31;
    text-align: left;
    color: $darkest-gray;
    margin-top: 5px;
    font-weight: $regular;
    padding: 0;
    @include breakpoint($tablet) {
      font-size: rem(22);
    }
    @include breakpoint($pc) {
      font-size: rem(34);
      margin: 0 0 15px;
    }
  }

  &__description {
    font-family: var(--serifTypeface);
    @include breakpoint($tablet) {
      display: block;
      font-size: rem(12);
      margin-bottom: 28px;
    }
    @include breakpoint($pc) {
      font-size: rem(18);
      margin-bottom: 35px;
    }
  }
  &__image {
    @include aspect-ratio(4,3);
    @include breakpoint($tablet) {
      float: left;
      margin-right: 0;
      width: 50%;
    }
    figure {
      margin: 0;
    }
  }
}