.image-fallback {
  position: relative;
  svg {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
  }
}

.full-image .image-fallback {
  height: 100%;
}