.linear-gallery-slider {

  background: $darkest-gray;
  padding: 28px 0;
  @include breakpoint($pc) {
    padding: 40px 0;
  }

  &__heading {
    @include container;
    padding: 0 15px;
    @include breakpoint($pc) {
      margin-left: auto;
    }
  }

  &__slides {
    padding: 15px 0 0;
    img {
      max-width: 100%;
    }
  }

  &__item-title {
    font-size: rem(20);
    @include breakpoint($tablet) {
      font-size: rem(16);
    }
    @include breakpoint($pc) {
      font-size: rem(20);
    }
  }

  &__slider-content {
    margin-top: 10px;
    font-size: rem(18);
    color: $white;
    line-height: 1.3;
    font-weight: 300;
    padding: 0 21px;
    text-align: center;
    font-weight: 300;
    transition: all 0.3s;
    @include breakpoint($tablet) {
      padding: 0 10px;
      font-size: rem(14);
    }
    @include breakpoint($pc) {
      font-size: rem(20);
      margin-top: 10px;
    }

    &.slick-slide {
      opacity: 0.40;
      transform: scale(0.8);
      transition: all .3s;
    }

    &.slick-center {
      opacity: 1;
      transform: scale(1);
    }

    figure {
      margin: 0;
    }
  }
}