.media{
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
  display: block;
  &:last-child{
    margin-bottom: 0;
  }
  &--bg-white {
    background: $white;
  }
  &--with-shadow {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  &__img{
    width: 37%;
    float: left;
    @include breakpoint($tablet) {
      width: 46%;
    }
  }
  &__content{
    float: right;
    width: 63%;
    padding: 9px 10px;
    @include breakpoint($tablet) {
      width: 54%;
    }
    h2 {
      font-size: 16px;
      @include breakpoint($tablet) {
        font-size: 22px;
      }
    }
    &--enlarged {
      padding: 0 15px 0 10px;
      div {
        font-size: 11px;
        @include breakpoint($tablet) {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 14px;
        margin-bottom: 5px;
      }
      @include breakpoint($tablet) {
        padding-left: 25px;
        h2 {
          font-size: 22px;
        }
      }
    }
  }
  &__title--enlarged {
    margin-bottom: 40px;
  }
}
