.media {
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  &:last-child {
    margin-bottom: 0;
  }
  &--bg-white {
    background: $white;
  }
  &--with-shadow {
    box-shadow: 0 2px 10px 0 rgba($black, 0.1);
  }
  &__img {
    flex: 1 1 50%;
    @include aspect-ratio(4,3);

    @include breakpoint($tablet) {
      flex: 1 1 46%;
    }
    figure {
      margin: 0;
    }
  }
  &__content {
    flex: 1 1 50%;
    padding: 9px 10px;
    @include breakpoint($tablet) {
      flex: 1 1 54%;
    }
    .media-title {
      font-size: rem(16);
      padding: 0;
      margin-bottom: 10px;
      line-height: var(--headlineLineHeight);
      @include breakpoint($tablet) {
        font-size: rem(22);
        margin-bottom: 40px;
      }
    }
    &--enlarged {
      padding: 0 15px 0 10px;
      @include breakpoint($tablet) {
        padding-left: 25px;
      }
      .section-name {
        font-size: rem(11);
        @include breakpoint($tablet) {
          font-size: rem(14);
        }
      }
      .media-title {
        font-size: rem(14);
        @include breakpoint($tablet) {
          font-size: rem(22);
        }
      }
    }
  }
  &__title--enlarged {
    margin-bottom: 40px;
  }
}