.story-list {
  clear: both;
  padding: 0 5px;

  @include breakpoint($tablet) {
    padding: 0;
  }
  
  a {
    display: block;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #d8d8d8;
    @include breakpoint($pc) {
      &:first-child {
        padding-top: 0;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &__heading {
    font-weight: $bold;
    line-height: 1.3;
    margin-bottom: 10px;
    font-size: rem(24);
    padding: 0;
  }
}
