$white: #fff;
$black: #000;
$lighest-gray: #e9e6e6;
$light-gray: #404040;
$dark-gray: #222;
$footer-short: #000;
$color3: #a4a4a4;
$color4: #4c4c4c;
$color5: #5c5c5c;
$color6: #818181;
$color7: #a0a0a0;
$color8: #212121;
$color9: #3d3d3d;
$color10: #f7f7f7;
$base-blue: #2f73e4;
$light-blue: #0d84d3; //section name background
$heading-blue: #0065a7;
$blue-gray: #5790b5;
$text: #736f6f;

// $black-opacity:rgba(0, 0, 0, 0.7);
$grey: #969696;
$dark-blue: #006187;
$question-blue: #026287;
$orange: #ff6900;
$small-heading: #2f2f2f;

$transparent-white: rgba(255,255,255,0.75);

// recipe page
$gold: #fb0;
