@import url(https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);
$sans: 'open sans', Helvetica,Arial, sans-serif;
$lato: 'Lato', sans-serif;
$neuz: "neuzeit-grotesk";
$lora: 'Lora', serif;
$primary-typeface: $neuz;
$secondary-typeface: $lato;


$base:      20px;
$mobbase:   8px;
$line:      1.6;

$fontsize-smaller:    11px;
$fontsize-small:      13;
$fontsize-base:       17;
$fontsize-medium:     18;
$fontsize-large:      21;
$fontsize-larger:     24;
$fontsize-largest:    29;
$fontsize-halfjumbo:  29;
$fontsize-jumbo:      36;

// Font weights ----------------------------------
$regular: 400;
$regular1: 500;
$regular2: 600;
$bold: 700;
$black-weight: 800;
$header-font-weight: #000000;
// ---------------------------------------------
a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 100%;
}

body {
    font-family: $neuz;
    font-weight: 400;
    font-size: em($base);
    line-height: $line;
    text-rendering: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: em($fontsize-jumbo);
    line-height: em(50, $fontsize-halfjumbo);
    font-weight: 300;
}

h2 {
    font-size: em($fontsize-halfjumbo);
    line-height: em(40, $fontsize-halfjumbo);
    padding: em(24, $fontsize-halfjumbo) 0 em(16, $fontsize-halfjumbo);
    font-family: $primary-typeface;
}

h3 {
    font-size: em($fontsize-largest);
    line-height: em(36, $fontsize-largest);
    word-break: normal;
    font-family: $primary-typeface;
}

h4 {
    font-size: em($fontsize-larger);
    line-height: em(32, $fontsize-larger);
    font-weight: bold;
}

h5 {
    font-size: em($fontsize-medium);
    line-height: em(24, $fontsize-medium);
    font-weight: bold;
}

h6 {
    font-size: em($fontsize-small);
    line-height: em(16, $fontsize-small);
}

p {
    font-family: $primary-typeface;
    font-size: em($fontsize-base);
    line-height: 1.6;
}
