<div class="static-container">
  <%- store.getState().qt.data.staticPageHTML.contactUs -%>
</div>
<script type="application/json" id="static-page">
  <%- JSON.stringify(store.getState()) -%>
</script>
