<div class="static-container">
  <%- JSON.stringify(store.getState().qt.data.staticPageHTML.privacyPolicy) -%>
</div>
<script type="application/json" id="static-page">
  <%- JSON.stringify(store.getState()) -%>
</script>