.button{
  border-radius: 100px;
  text-align: center;
  font-family: $lato;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 28px;
    color: $white;
}
.button--primary{
  background: $base-blue;
}
.button--secondary{
    border: 1px solid #fff;
    background: $base-blue;
}
.button--link{
  background: none;
  border: 2.4px solid #fff;
  font-size: 15.4px;
  letter-spacing: 2.2px;
  font-weight: 600;
  text-transform: uppercase;
}
